<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="!text-logging">
        <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <includeContext>true</includeContext>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <logger>logger</logger>
                    <thread>thread</thread>
                    <stackTrace>stackTrace</stackTrace>
                    <callerClass>callerClass</callerClass>
                    <callerMethod>callerMethod</callerMethod>
                    <callerFile>callerFile</callerFile>
                    <callerLine>callerLine</callerLine>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>
    <springProfile name="text-logging">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>